{% extends './home.html' %}

{% block content %}
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}

            <div class="form-container col-9">
                <p class="title">Login</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="input-group">
                        {{ field.label }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    <input type="hidden" name="next" value="{% url 'judge_dashboard' %}">
                    <br>
                    <button class="sign" type="submit">Login</button>
                </form>
                
                {% if '/judge/' in request.path  %}
                    <p class="signin">Don't have an account? <a href="{% url 'judge_register' %}">Signup as Judge</a></p>
                {% endif %}

            </div>
            
{% endblock content %}

{% comment %} <form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
        <p>{{ field.label }}: <br> {{ field }}</p>
    {% endfor %}
    <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="{% url 'register' %}">Signup here</a></p>  {% endcomment %}